<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Sypnosis:</strong>
    <%= book.sypnosis %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= book.publication_date %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= book.country %>
  </p>

  <p>
    <strong>Total chapters:</strong>
    <%= book.total_chapters %>
  </p>

</div>
